- haml_tag("ns1:#{tag}", { 'xmlns:xsi': 'http://www.w3.org/2001/XMLSchema-instance', 'xmlns:ns2': 'http://www.w3.org/2000/09/xmldsig#', 'xmlns:ns1': 'http://www.abrasf.org.br/nfse.xsd', 'xsi:schemaLocation': 'http://www.w3.org/2000/09/xmldsig# xmldsig-core-schema20020212.xsd http://www.abrasf.org.br/nfse.xsd nfse_v2-04.xsd' }) do
  = partial(template, self)
